.active {
  color: #1890ff !important;
  text-decoration: underline;
}

.ant-form-item-label>label {
  font-size: 16px;
}

.ant-table-cell {
  font-size: 16px;
}

#components-table-demo-resizable-column .react-resizable {
  position: relative;
  background-clip: padding-box;
}

#components-table-demo-resizable-column .react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.active {
  color: #1890ff !important;
  text-decoration: underline;
}
.ProseMirror {
  height: 500px;
  padding: 15px 25px;
  overflow: scroll;
}

.ant-upload-list-item-card-actions {
  display: none;
}
.ant-upload-drag {
  height: 150px !important;
}

/* 
.ant-select-selection-item, .ant-layout-sider-children {
  font-size: 16px;
}

.ant-layout-sider-children, .ant-layout-sider {
  background-color: white;
} */


/* For Guest page animation Start*/

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Base */
/* body {
  padding: 0;
  margin: 0!important;
  background-color: #000!important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */
.guest-page{
  position: relative;
  size: "20px";
  /* color: hsl(0, 0%, 68%); */
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  letter-spacing: 5px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
  animation-iteration-count: infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
   to {
    width: 1200px;
  } 
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

.example-container div {
  background: rgb(193, 54, 186);
  border-radius: 30px;
  margin-left: 300px;
  margin-top: 200px;
  width: 150px;
  height: 150px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



/* For Guest page animation End */